# Порт приложения
APP_PORT=80

# URL API сервисов
VITE_AUTH_API_URL=https://api.our-galaxy.space/auth-service-stargazer-user
VITE_API_BASE_URL=https://api.our-galaxy.space/stargazer-service

# Keycloak настройки
VITE_KEYCLOAK_URL=https://keycloak.our-galaxy.space
VITE_KEYCLOAK_REALM=general_realm
VITE_KEYCLOAK_CLIENT_ID=stargazer